<ion-header>
  <ion-toolbar>
    <ion-title>O Poderoso Chefão</ion-title>
  </ion-toolbar>
</ion-header>
 

<!--
     _
   _|_|_
   (UwU) .|.
  /  | \ /
|º  / /
| _/_/

-->


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <strong>O Poderoso Chefão (1972)</strong>

      </ion-col>
      <ion-col size="7">
        <img
          src="https://cdn.tlc-massive.com/shain/v1/dataservice/ResizeImage/$value?Format=%27png%27&Quality=85&ImageId=%27178626.png%27&ImageUrl=%27178626.png%27&EntityType=%27Item%27&EntityId=%276907%27&device=web_browser&subscriptions=Anonymous&Width=360&Height=540"
          alt="O poderoso Chefão">
      </ion-col>
      <ion-col size="5">
        <strong>Nota:</strong> 9.5/10 <br>
        <br>
        <strong>Título original:</strong> The Godfather. <br>
        <br>
        <strong>Duração:</strong> 2 horas. <br>
      </ion-col>
    </ion-row>
    <p>
      <strong>SINOPSE</strong> <br>
      Don Vito Corleone, chefe de uma família mafiosa, decide entregar seu império a seu filho mais novo, Michael. No
      entanto, sua decisão involuntariamente coloca a vida de seus entes queridos em grave perigo.
    </p>
  </ion-grid>

  <ion-grid>
    <ion-row size="12">
      <Strong>Deixe sua nota:</Strong>
    </ion-row>

    <ion-row>
      <ion-range min="0" max="10" step="1" snaps="true" bar="true" color="secondary">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="middle">0</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-row>

    <ion-row size="12">
      <strong>Deixe sua crítica:</strong>
    </ion-row>


    <ion-row size="12">
    <ion-input placeholder="Digite sua análise aqui!" id="corpo" type="text"></ion-input>
    </ion-row>

    <ion-row size="12" style="justify-content:center">
      <ion-button id="botão" size="large" type="submit">Enviar análise</ion-button>
    </ion-row>


    <ion-row size="12" style="justify-content:center">
      <ion-button id="botão" size="large" href="/apc">Ver análises</ion-button>
    </ion-row>


  </ion-grid>

</ion-content>