<ion-header>
  <ion-toolbar>
    <ion-title>Menu Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="search">
    <ion-searchbar></ion-searchbar>
    <ion-icon name="filter-outline"></ion-icon>
  </div>
  <ion-row class="post">
    <ion-col size="5">
      <img
        src="https://cdn.tlc-massive.com/shain/v1/dataservice/ResizeImage/$value?Format=%27png%27&Quality=85&ImageId=%27178626.png%27&ImageUrl=%27178626.png%27&EntityType=%27Item%27&EntityId=%276907%27&device=web_browser&subscriptions=Anonymous&Width=360&Height=540"
        alt="O poderoso Chefão">
      <ion-button href="/pg-pc">Saiba Mais</ion-button>
    </ion-col>
    <ion-col>
      <strong>O Poderoso Chefão</strong>
      <p class="nota">Nota: 9,5/10</p>
      <p class="sinopse">Conforme Michael Corleone (Al Pacino) envelhece, ele descobre que ser o chefe da família do
        crime <a routerLink="">(LER MAIS)</a></p>
    </ion-col>
  </ion-row>

  <ion-row class="post">
    <ion-col size="5">
      <img src="https://br.web.img3.acsta.net/pictures/14/07/10/20/32/329935.jpg" alt="Aviões 2">
      <ion-button size="small" href="/menu">Saiba Mais</ion-button>
    </ion-col>
    <ion-col>
      <strong>Aviões 2</strong>
      <p class="nota">Nota: 9,5/10</p>
      <p class="sinopse">Dusty (Dane Cook), o famoso avião de corrida, descobre que seu motor está danificado, então ele
        deve mudar de
        marcha e encontrar uma nova carreira. Ele se junta a
        <a linkrouter="">(LER MAIS)</a>
    </ion-col>
  </ion-row>


  <ion-row class="post">
    <ion-col size="5">
      <img
        src="https://d3alv7ekdacjys.cloudfront.net/Custom/Content/Products/10/99/1099142_ta-dando-onda-2-filme-infantil-ms_m1_637383551534324898.jpg"
        alt="ta dando onda 2">
      <ion-button size="small" href="/menu">Saiba Mais</ion-button>
    </ion-col>
    <ion-col>
      <strong>Ta dando onda 2</strong>
      <p class="nota">Nota: 9,5/10</p>
      <p class="sinopse">Um pinguim aventureiro convence The Hang 5, uma notória tripulação de ondas grandes, a
        acompanhá-lo até um
        local de surfe conhecido como The Trenches,
        <a linkrouter="">(LER MAIS)</a>
    </ion-col>
  </ion-row>







</ion-content>